<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Hada_Tour</title>
  <link rel="stylesheet" href="build/style.css">
</head>
<body>

  <header class="header">

    <div class="content_header">
      <section class="logo left">
        <a href="#" title=""><img src="images/logo.jpg" alt="" class="img_service"></a>
      </section>

      <div class="service">
        <section class="customer_service_out_time right">
          <div class="right">
            <p class="text_service">Cham soc khach hang ngoai gio</p>
            <p class="text_service">Khach san: <strong> 0906 636 171</strong> / Tour: <strong> 0906 636 171</strong></p>
          </div>
          <a href="" title=""><img src="images/care.jpg" alt="" class="img_care"></a>
        </section>

        <section class="customer_service right">
          <div class="right">
            <p class="text_service">Cham soc khach hang </p>
            <p class="text_service"><strong> 0906 636 171</strong></p>
          </div>
          <a href="" title=""><img src="images/phone.jpg" alt="" class="img_service"></a>
        </section>
      </div>


      <nav class="right">
        <ul>
          <li class="nav"><a href="#" title="">lien he</a></li>
          <li class="nav"><a href="#" title="">tin tuc</a></li>
          <li class="nav"><a href="#" title="">ve may bay</a></li>
          <li class="nav"><a href="#" title="">cho thue phuong tien</a></li>
          <li class="nav"><a href="#" title="">khach san</a></li>
          <li class="nav"><a href="#" title="">tour</a></li>
          <li class="nav"><a href="#" title="">ve vahada</a></li>
          <li class="nav"><a href="#" title="">Trang chu</a></li>
        </ul>
      </nav>

    </div>
  </header><!-- /header -->

  <div class="clear"></div>

  <section class="content">
    <h2 class="text-tour">TOUR</h2>

    <aside>
    <div class="background_nb left">
  <div class="transbox">
  <a href="" title=""><h3>TOUR NOI BAT</h3></a>
  </div>
</div>
   </aside>

<aside>
    <div class="background_tn left">
  <div class="transbox">
  <a href="" title=""><h3>TOUR NUOC NGOAI</h3></a>
  </div>
</div>
   </aside>

<aside>
    <div class="background_nn right">
  <div class="transbox">
  <a href="" title=""><h3>TOUR TRONG NUOC</h3></a>
  </div>
</div>
   </aside>
   <main class="show_tour">
     <article class="left art">
      <a href=""><img class="tour_image" src="images/hanoiphuquoc1.jpg"></a>
      <h3>ha noi phu quoc</h3>
      <strong class="giatour">Gia tour: 5.350.000</strong>
    </article>
    <article class="left art">
      <a href=""><img class="tour_image" src="images/conduongdisan1.jpg"></a>
      <h3>con duong di san </h3>
      <strong class="giatour">Gia tour: 5.350.000 VND</strong>
    </article>
    <article class="left art">
      <a href=""><img class="tour_image" src="images/hanhtrinhdongbac1.jpg"></a>
      <h3>Hanh trinh dong bac</h3>
      <strong class="giatour">Gia tour: 5.350.000 VND</strong>
    </article>
    <article class="left art">
      <a href=""><img class="tour_image" src="images/caonguyendalat1.jpg"></a>
     <h3>cao nguyen da lat</h3>
      <strong class="giatour">Gia tour: 5.350.000 VND</strong>
    </article>
    <article class="left art">
      <a href=""><img class="tour_image" src="images/hanoiphuquoc2.jpg"></a>
      <h3>ha noi phu quoc</h3>
      <strong class="giatour">Gia tour: 5.350.000 VND</strong>
    </article>
     <article class="left art">
      <a href=""><img class="tour_image" src="images/conduongdisan2.jpg"></a>
      <h3>con duong di san </h3>
      <strong class="giatour">Gia tour: 5.350.000 VND</strong>
    </article>
    <article class="left art">
      <a href=""><img class="tour_image" src="images/hanhtrinhdongbac2.jpg"></a>
      <h3>Hanh trinh dong bac</h3>
      <strong class="giatour">Gia tour: 5.350.000 VND</strong>
    </article>
    <article class="left art">
      <a href=""><img class="tour_image" src="images/caonguyendalat2.jpg"></a>
      <h3>cao nguyen da lat</h3>
      <strong class="giatour">Gia tour: 5.350.000 VND</strong>
    </article>
      </article>
     <article class="left art">
      <a href=""><img class="tour_image" src="images/hanoiphuquoc3.jpg"></a>
      <h3>ha noi phu quoc</h3>
      <strong class="giatour">Gia tour: 5.350.000 VND</strong>
    </article>
    <article class="left art">
      <a href=""><img class="tour_image" src="images/conduongdisan3.jpg"></a>
      <h3>con duong di san</h3>
      <strong class="giatour">Gia tour: 5.350.000 VND</strong>
    </article>
    <article class="left art">
      <a href=""><img class="tour_image" src="images/hanhtrinhdongbac3.jpg"></a>
      <h3>Hanh trinh dong bac</h3>
      <strong class="giatour">Gia tour: 5.350.000 VND</strong>
    </article>
    <article class="left art">
      <a href=""><img class="tour_image" src="images/caonguyendalat3.jpg"></a>
      <h3>cao nguyen da lat</h3>
      <strong class="giatour">Gia tour: 5.350.000 VND</strong>
    </article>
  </main>

</section>

<div class="clear"></div>


<footer>
  <div class="logo_footer left">
    <img src="images/logo.jpg" alt="logo">
    <h4>@2015 Ban quyen thuoc ve Hadatour</h4>

  </div>
  <div class="info left">
    <h3>THÔNG TIN</h3>
    <ul style="list-style-type: none">
      <li><a href="#">Giới thiệu về HadaTour</a></li>
      <li><a href="#">Thông tin liên hệ</a></li>
      <li><a href="#">Điều khoản thành viên</a></li>
      <li><a href="#">Phương thức thanh toán</a></li>
      <li><a href="#">Tuyển dụng</a></li>
    </ul>
  </div>
  <div class="community left">
  <h3>CỘNG ĐỒNG</h3>
    <ul style="list-style-type: none">
      <li><a href="https://www.facebook.com/thap.nguyen.5686" alt""><img src="images/face.jpg" alt="">Facebook</a></li>
      <li><a href="http://www.hadatours.com/" alt""><img src="images/google.jpg" alt="">Google+</a></li>
      <li><a href="#" alt""><img src="images/twich.jpg" alt="">Twitter</a></li>
      <li><a href="#" alt""><img src="images/youtube.jpg" alt="">Youtube</a></li>
    </ul>
  </div>
  <div class="contact right">
    <p>Nhập email để  nhận giá tốt nhất từ HadaTour</p>
    <input type="text" name="" value="" placeholder="Nhap dia chi email">
    <img class="img-mail" src="images/mail.jpg" alt="mail" >

    <h4>Thiết kế bởi <span>Kovo.vn</span></h4>
  </div>
  
</footer>
</body>
</html>
